---
import ProductCard from './ProductCard.astro';
interface Props {
  products: Array<any>;
}
const { products } = Astro.props;
---
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  {products.map((product) => <ProductCard {...product} />)}
</div>